body {
  background-color: black;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
}

.calculator {
  margin: auto;
  padding: 1rem;
  width: auto;
  border: none;
}

.screen {
  width: 100%;
  padding: 2rem;
  background-color: black;
  color: white;
  text-align: right;
  font-size: 4rem;
}

.key {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  margin: 0.5rem;
}

.clear {
  width: 100%;
  background-color: transparent;
  border: none;
  margin-top: 1.5rem;
}

.character {
  font-size: 2rem;
  color: white;
  margin: auto;
}

.symbol {
  background-color: orange;
}

.symbol:hover {
  background-color: rgb(235, 153, 0);
}

.number {
  background-color: rgb(145, 145, 145);
}

.number:hover {
  background-color: rgb(112, 112, 112);
}
